<footer>
    <div class="container">
      <div class="boutique">
        <h3>Trouver une boutique Free</h3>
        <p>Dans nos boutiques, les conseillers sont à votre disposition pour vous guider et vous présenter les offres Freebox et les offres mobiles Free qui vous correspondent.</p>
      </div>
      <div class="suivez-nous">
        <h3>Suivez-nous</h3>
        <p>Pour vous tenir au courant des toutes dernières actualités, mises à jour, exclusivités, promos, tout sur Free.</p>
      </div>
    </div>
  </footer>
  