<div class="container">
    <div class="image-column">
        <img src="./assets/freeboxpop.png" alt="Freebox Pop">
    </div>
    <div class="text-column">
        <img src="./assets/free_gaming.png" alt="Free Gaming">
        <p>Texte à afficher à droite de l'image.</p>
        <hr>
        <p>Votre set-up gaming complet à 99,99 €/mois </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mauris nunc, fringilla quis ante a, cursus
            porta erat. Aenean vel iaculis tortor. Nullam nec porttitor velit. Mauris convallis justo sem, eget aliquet
            nibh vestibulum vitae.</p>
        <button class="subscribe-btn">S’abonner</button>
    </div>
</div>
<div class="debit">
    <div class="debit-speed">
        <img src="./assets/debit-freebox.png" class="img-launch" alt="Debit Freebox">
    </div>
    <div class="debit-speed-text">
        <p>La vitesse de la Freebox Pop au service du gaming</p>
    </div>
</div>